.env
/storage
/vendor/phpspec
/vendor/ircmaxell
/vendor/nikic
/vendor/laravelcollective
/vendor/autoload.php
!/vendor/laravel
/vendor/phpdocumentor
/vendor/intervention
/vendor/swiftmailer
/vendor/predis
/vendor/monolog
/vendor/services.json
/vendor/sebastian
/vendor/jeremeamia
/vendor/doctrine
/vendor/nesbot
/vendor/dompdf
/vendor/fzaninotto
/vendor/symfony
/vendor/league
/vendor/bin
/vendor/illuminate
/vendor/classpreloader
/vendor/composer
/vendor/vlucas
/vendor/dnoegel
/vendor/psy
/vendor/jakub-onderka
/vendor/phenx
/vendor/mtdowling
/vendor/psr
/vendor/barryvdh
/vendor/danielstjules
/vendor/phpunit
/tests

