//Variables generales//
$fullcalendar-mormal-padding: 2px !default;
$fullcalendar-extra-padding: 5px !default;
$fullcalendar-color-border-general: rgba(238, 238, 238, 1) !default;
$fullcalendar-color-border: rgba(255, 255, 255, 1) !default;
$fullcalendar-backGroundColor: rgba(240, 240, 240, 1) !default;
$fullcalendar-textColor: rgba(0, 0, 0, 1) !default;

//Calendario general
$fullcalendar-color-border-calendar: $fullcalendar-color-border-general !default;
$fullcalendar-color-backGround-calendar: rgb(255, 253, 248) !default;

//Botones de navegación
$fullcalendar-button-nav-border-radius: '50%' !default;

//Header del calendario
$fullcalendar-backGroundColor-day-header: $fullcalendar-backGroundColor !default;
$fullcalendar-textColor-day-header: rgba(0, 0, 0, 1) !default;
$fullcalendar-padding-day-header: $fullcalendar-mormal-padding 0 !default;
$fullcalendar-color-border-day-header: $fullcalendar-color-border !default;

//Columna semana
$fullcalendar-backGroundColor-day-sem: $fullcalendar-backGroundColor-day-header !default;
$fullcalendar-textColor-day-sem: $fullcalendar-textColor-day-header !default;
$fullcalendar-color-border-day-sem: $fullcalendar-color-border-day-header !default;

//Día actual
$fullcalendar-backGroundColor-toDay: rgb(255, 251, 216) !default;

//More para el popOver
$fullcalendar-more-margin: 1px 3px !default;
$fullcalendar-more-color: rgba(0, 128, 0, 1) !default;
$fullcalendar-more-color-hover: rgba(0, 200, 0, 1) !default;

//popOver cuando hay eventos que no caben
$fullcalendar-popover-border-color: $fullcalendar-backGroundColor-day-header !default;
$fullcalendar-popover-background-color: rgba(255, 255, 255, 1) !default;
$fullcalendar-popover-header-backGroundColor: $fullcalendar-backGroundColor-day-header !default;
$fullcalendar-popover-header-textColor: rgba(0, 128, 0, 1) !default;
$fullcalendar-popover-header-close-color: rgba(128, 0, 0, 1) !default;
$fullcalendar-popover-header-close-color-hover: rgba(255, 0, 0, 1) !default;
$fullcalendar-popover-padding: $fullcalendar-extra-padding !default;