// Box Shadow

@mixin transition($transition) {
  -ms-transition:$transition;
  -moz-transition: $transition;
  -webkit-transition: $transition;
  -o-transition:$transition ;
  transition: $transition;
 }

